/* Common Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for container */
}

h1, h2 {
    color: #333; /* Dark gray text color */
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button background */
    color: #fff; /* White button text color */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

a {
    color: #007bff; /* Blue link color */
}

a:hover {
    color: #0056b3; /* Darker blue on hover */
}

/* Specific Styles for index.html */

#urlForm {
    text-align: center;
}

/* Specific Styles for shortened.html */

.container {
    text-align: center; /* Center-align the content */
}

#shortenedUrl {
    font-size: 18px;
    margin-top: 20px;
}

#shortenedUrl a {
    color: #007bff; /* Blue link color */
    text-decoration: none; /* Remove default underline */
}

#shortenedUrl a:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline; /* Add underline on hover */
}

.success {
    color: #28a745; /* Green success text color */
    font-size: 20px;
    margin-top: 20px;
}
